* {
    margin: 0;
    padding: 0;
}

.character-image {
    cursor: pointer;
}

.bg-green {
    background-color: chartreuse;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}